<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{header}}</h1>
<p>Hello, Im Raphael and I study CIT.</p>
</body>
    {{> footer}}
</html>